@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Rubik:300,400,500,700,900');

		* {
			margin: 0;
			padding: 0;
			-webkit-font-smoothing: antialiased;
			-webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
			text-shadow: rgba(0, 0, 0, .01) 0 0 1px
		}

		body {
			font-family: 'Rubik', sans-serif;
			font-size: 14px;
			font-weight: 400;
			background: #eff6fa;
			color: #000000
		}

		div {
			display: block;
			position: relative;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box
		}

		ul {
			list-style: none;
			margin-bottom: 0px
		}

		p {
			font-family: 'Rubik', sans-serif;
			font-size: 14px;
			line-height: 1.7;
			font-weight: 400;
			color: #828282;
			-webkit-font-smoothing: antialiased;
			-webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
			text-shadow: rgba(0, 0, 0, .01) 0 0 1px
		}

		p a {
			display: inline;
			position: relative;
			color: inherit;
			border-bottom: solid 1px #ffa07f;
			-webkit-transition: all 200ms ease;
			-moz-transition: all 200ms ease;
			-ms-transition: all 200ms ease;
			-o-transition: all 200ms ease;
			transition: all 200ms ease
		}

		a,
		a:hover,
		a:visited,
		a:active,
		a:link {
			text-decoration: none;
			-webkit-font-smoothing: antialiased;
			-webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
			text-shadow: rgba(0, 0, 0, .01) 0 0 1px
		}

		p a:active {
			position: relative;
			color: #FF6347
		}

		p a:hover {
			color: #FFFFFF;
			background: #ffa07f
		}

		p a:hover::after {
			opacity: 0.2
		}

		::selection {}

		p::selection {}

		h1 {
			font-size: 48px
		}

		h2 {
			font-size: 36px
		}

		h3 {
			font-size: 24px
		}

		h4 {
			font-size: 18px
		}

		h5 {
			font-size: 14px
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-family: 'Rubik', sans-serif;
			font-weight: 500;
			-webkit-font-smoothing: antialiased;
			-webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
			text-shadow: rgba(0, 0, 0, .01) 0 0 1px
		}

		h1::selection,
		h2::selection,
		h3::selection,
		h4::selection,
		h5::selection,
		h6::selection {}

		.form-control {
			color: #db5246
		}

		section {
			display: block;
			position: relative;
			box-sizing: border-box
		}

		.clear {
			clear: both
		}

		.clearfix::before,
		.clearfix::after {
			content: "";
			display: table
		}

		.clearfix::after {
			clear: both
		}

		.clearfix {
			zoom: 1
		}

		.float_left {
			float: left
		}

		.float_right {
			float: right
		}

		.trans_200 {
			-webkit-transition: all 200ms ease;
			-moz-transition: all 200ms ease;
			-ms-transition: all 200ms ease;
			-o-transition: all 200ms ease;
			transition: all 200ms ease
		}

		.trans_300 {
			-webkit-transition: all 300ms ease;
			-moz-transition: all 300ms ease;
			-ms-transition: all 300ms ease;
			-o-transition: all 300ms ease;
			transition: all 300ms ease
		}

		.trans_400 {
			-webkit-transition: all 400ms ease;
			-moz-transition: all 400ms ease;
			-ms-transition: all 400ms ease;
			-o-transition: all 400ms ease;
			transition: all 400ms ease
		}

		.trans_500 {
			-webkit-transition: all 500ms ease;
			-moz-transition: all 500ms ease;
			-ms-transition: all 500ms ease;
			-o-transition: all 500ms ease;
			transition: all 500ms ease
		}

		.fill_height {
			height: 100%
		}

		.super_container {
			width: 100%;
			overflow: hidden
		}

		.prlx_parent {
			overflow: hidden
		}

		.prlx {
			height: 130% !important
		}

		.nopadding {
			padding: 0px !important
		}

		.button {
			display: inline-block;
			background: #0e8ce4;
			border-radius: 5px;
			height: 48px;
			-webkit-transition: all 200ms ease;
			-moz-transition: all 200ms ease;
			-ms-transition: all 200ms ease;
			-o-transition: all 200ms ease;
			transition: all 200ms ease
		}

		.button a {
			display: block;
			font-size: 18px;
			font-weight: 400;
			line-height: 48px;
			color: #FFFFFF;
			padding-left: 35px;
			padding-right: 35px
		}
		
		html, body {
            max-width: 100%;
            overflow-x: hidden;
        }   

		.button:hover {
			opacity: 0.8
		}

		.viewed {
			padding-top: 51px;
			padding-bottom: 60px;
		}

		.bbb_viewed_title_container {
			border-bottom: solid 1px #dadada
		}

		.bbb_viewed_title {
			margin-bottom: 14px
		}

		.bbb_viewed_nav_container {
			position: absolute;
			right: -5px;
			bottom: 14px
		}

		.bbb_viewed_nav {
			display: inline-block;
			cursor: pointer
		}

		.bbb_viewed_nav i {
			color: #dadada;
			font-size: 18px;
			padding: 5px;
			-webkit-transition: all 200ms ease;
			-moz-transition: all 200ms ease;
			-ms-transition: all 200ms ease;
			-o-transition: all 200ms ease;
			transition: all 200ms ease
		}

		.bbb_viewed_nav:hover i {
			color: #606264
		}

		.bbb_viewed_prev {
			margin-right: 15px
		}

		.bbb_viewed_item {
			width: 100%;
			background: #FFFFFF;
			border-radius: 2px;
			padding-top: 25px;
			padding-bottom: 25px;
			padding-left: 30px;
			padding-right: 30px
		}

		.bbb_viewed_image {
			width: 115px;
			height: 115px
		}

		.bbb_viewed_image img {
			display: block;
			max-width: 100%
		}

		.bbb_viewed_content {
			width: 100%;
			margin-top: 25px
		}

		.bbb_viewed_price {
			font-size: 16px;
			color: #000000;
			font-weight: 500
		}

		.bbb_viewed_item.discount .bbb_viewed_price {
			color: #df3b3b
		}

		.bbb_viewed_price span {
			position: relative;
			font-size: 12px;
			font-weight: 400;
			color: rgba(0, 0, 0, 0.6);
			margin-left: 8px
		}

		.bbb_viewed_price span::after {
			display: block;
			position: absolute;
			top: 6px;
			left: -2px;
			width: calc(100% + 4px);
			height: 1px;
			background: #8d8d8d;
			content: ''
		}

		.bbb_viewed_name {
			margin-top: 3px
		}

		.bbb_viewed_name a {
			font-size: 14px;
			color: #000000;
			-webkit-transition: all 200ms ease;
			-moz-transition: all 200ms ease;
			-ms-transition: all 200ms ease;
			-o-transition: all 200ms ease;
			transition: all 200ms ease
		}

		.bbb_viewed_name a:hover {
			color: #0e8ce4
		}

		.item_marks {
			position: absolute;
			top: 18px;
			left: 18px
		}
		
		.owl-item {
		    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
		    margin-top: .5%;
            margin-bottom: .5%;
            height: 300px;
		    border-radius: 5px;
		    width: 100%;
		    
		}
		.owl-carousel.owl-drag .owl-item {
    		width: 190px !important;
            height: auto;
		}
	
#promocao h2 {
	color: #000;
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin: 30px 0 60px;
}
#promocao h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 4px;
	border-radius: 1px;
	background: #7ac400;
	left: 0;
	right: 0;
	bottom: -20px;
}
#promocao .carousel {
	padding: 0 70px;
}
#promocao .carousel .item {
	color: #747d89;
	height: 380px;
	
	text-align: center;
	overflow: hidden;
}

#promocao .carousel .item-price {
	font-size: 13px;
	padding: 2px 0;
}
#promocao .carousel .item-price strike {
	opacity: 0.7;
	margin-right: 5px;
}

#promocao .carousel .wish-icon {
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 99;
	cursor: pointer;
	font-size: 16px;
	color: #abb0b8;
}
#promocao .carousel .wish-icon .fa-heart {
	color: #ff6161;
}
#promocao .star-rating li {
	padding: 0;
}
#promocao .star-rating i {
	font-size: 14px;
	color: #ffc000;
}
		
		
		
#promocao .carousel .item .img-box {
	height: 200px;
	margin-bottom: 20px;
	width: auto;
	margin-top: 10px;
	position: relative;
}
#promocao .carousel .item img {	
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}
#promocao .carousel .item h4 {
	font-size: 18px;
}
#promocao .carousel .item h4, .carousel .item p, .carousel .item ul {
	margin-bottom: 5px;
}
#promocao .carousel .thumb-content .btn {
	color: #0b193c;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	background: none;
	border: 1px solid #0b193c;
	padding: 6px 14px;
	margin-top: 5px;
	line-height: 16px;
	border-radius: 20px;
}
#promocao .carousel .thumb-content .btn:hover, .carousel .thumb-content .btn:focus {
	color: #fff;
	background: #0b193c;
	box-shadow: none;
}
#promocao .carousel .thumb-content .btn i {
	font-size: 14px;
	font-weight: bold;
	margin-left: 5px;
}
#promocao .carousel .item-price {
	font-size: 13px;
	padding: 2px 0;
}
#promocao .carousel .item-price strike {
	opacity: 0.7;
	margin-right: 5px;

}

#promocao .carousel .wish-icon {
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 99;
	cursor: pointer;
	font-size: 16px;
	color: #abb0b8;
}
#promocao .carousel .wish-icon .fa-heart {
	color: #ff6161;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
width: 100%;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto
}

@media (min-width:576px) {

.container,
.container-sm {
max-width: 540px
}
}

@media (min-width:768px) {

.container,
.container-md,
.container-sm {
max-width: 720px
}
}

@media (min-width:992px) {

.container,
.container-lg,
.container-md,
.container-sm {
max-width: 960px
}
}

@media (min-width:1200px) {

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
max-width: 1700px;
}
}


		.item_mark {
			display: none;
			width: 36px;
			height: 36px;
			border-radius: 50%;
			color: #FFFFFF;
			font-size: 10px;
			font-weight: 500;
			line-height: 36px;
			text-align: center
		}

		.item_discount {
			background: #df3b3b;
			margin-right: 5px
		}

		.item_new {
			background: #0e8ce4
		}

		.bbb_viewed_item.discount .item_discount {
			display: inline-block
		}

		.bbb_viewed_item.is_new .item_new {
			display: inline-block
		}
		
		
		


@media (min-width: 768px) and (max-width: 991px) {
  /* Show 4th slide on md  if col-md-4*/
#categorias .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }

}

@media (min-width: 576px) and (max-width: 768px) {
  /* Show 3rd slide on sm  if col-sm-6*/
#categorias .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -50%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }

}
@media (min-width: 576px) {
	
    #categorias .carousel-item {
        margin-right: 0;
    }

    /* show 2 items */
    #categorias .carousel-inner .active + .carousel-item {
        display: block;
    }
    
#categorias .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
#categorias .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
        transition: none;
    }

#categorias .carousel-inner .carousel-item-next {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    
    /* left or forward direction */
    #categorias.active.carousel-item-left + .carousel-item-next.carousel-item-left,
    #categorias.carousel-item-next.carousel-item-left + .carousel-item,
    #categorias.carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    } 
    
    /* farthest right hidden item must be abso position for animations */
#categorias .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* right or prev direction */
    #categorias.active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    #categorias.carousel-item-prev.carousel-item-right + .carousel-item,
    #categorias.carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}

/*MD*/
@media (min-width: 768px) {

    /* show 3rd of 3 item slide */
    #categorias .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
 
#categorias .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }
  
    
#categorias .carousel-inner .carousel-item-next {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    
    
    /* left or forward direction */
    #categorias .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    /* right or prev direction */
    #categorias .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}


/*LG */
@media (min-width: 991px) {

    /* show 4th item */
#categorias .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
        display: block;
    }
    
#categorias .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    
    /* Show 5th slide on lg if col-lg-3 */
#categorias .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* left or forward direction */
    #categorias .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    /* right or prev direction //t - previous slide direction last item animation fix */
    #categorias .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
    
}

#categorias .categoria-text{
    color: white;
    font-size: 20px;
    position: relative;
    top: 20px;
}

